openapi: 3.2.0
info:
  title: Bank of America CashPro Balances API
  description: The Bank of America CashPro API enables corporate treasury clients to programmatically access banking services including payments, account information, balance reporting, and transaction history. The API supports over 350 payment types and integrates with Treasury Management Systems (TMS) and ERP platforms.
  version: 1.0.0
  contact:
    email: GlobalAPIOps@bofa.com
    url: https://developer.bankofamerica.com/
servers:
- url: https://api.bankofamerica.com/cashpro/v1
  description: CashPro API Production
- url: https://sandbox.bankofamerica.com/cashpro/v1
  description: CashPro API Sandbox
security:
- OAuth2: []
tags:
- name: Balances
paths:
  /accounts/{accountId}/balances:
    get:
      operationId: getAccountBalances
      summary: Get Account Balances
      description: Retrieve current and available balances for a specific account including intraday balance information.
      tags:
      - Balances
      parameters:
      - name: accountId
        in: path
        required: true
        description: Unique account identifier
        schema:
          type: string
      - name: asOf
        in: query
        description: Balance as of date (ISO 8601)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Account balance information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    BalanceResponse:
      type: object
      description: Account balance response
      properties:
        accountId:
          type: string
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'
    ErrorResponse:
      type: object
      description: API error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: string
          description: Additional error details
        requestId:
          type: string
          description: Request identifier for support
    Balance:
      type: object
      description: Account balance information
      properties:
        accountId:
          type: string
          description: Account identifier
        ledgerBalance:
          type: number
          format: double
          description: Current ledger balance
        availableBalance:
          type: number
          format: double
          description: Available balance for transactions
        collectedBalance:
          type: number
          format: double
          description: Collected balance after float
        currency:
          type: string
          description: Balance currency (ISO 4217)
        asOfDate:
          type: string
          format: date-time
          description: Balance as of timestamp
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.bankofamerica.com/oauth/token
          scopes:
            accounts:read: Read account information and balances
            transactions:read: Read transaction history
            payments:write: Initiate and manage payments
            statements:read: Access account statements
