openapi: 3.2.0
info:
  title: Bank of America CashPro Transactions API
  description: The Bank of America CashPro API enables corporate treasury clients to programmatically access banking services including payments, account information, balance reporting, and transaction history. The API supports over 350 payment types and integrates with Treasury Management Systems (TMS) and ERP platforms.
  version: 1.0.0
  contact:
    email: GlobalAPIOps@bofa.com
    url: https://developer.bankofamerica.com/
servers:
- url: https://api.bankofamerica.com/cashpro/v1
  description: CashPro API Production
- url: https://sandbox.bankofamerica.com/cashpro/v1
  description: CashPro API Sandbox
security:
- OAuth2: []
tags:
- name: Transactions
paths:
  /accounts/{accountId}/transactions:
    get:
      operationId: listTransactions
      summary: List Transactions
      description: Retrieve a paginated list of transactions for a specific account within a date range.
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: path
        required: true
        description: Unique account identifier
        schema:
          type: string
      - name: fromDate
        in: query
        description: Start date for transaction history (ISO 8601)
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: End date for transaction history (ISO 8601)
        schema:
          type: string
          format: date
      - name: limit
        in: query
        description: Maximum number of transactions to return
        schema:
          type: integer
          default: 100
          maximum: 500
      - name: offset
        in: query
        description: Pagination offset
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Transaction:
      type: object
      description: An account transaction record
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier
        accountId:
          type: string
          description: Account the transaction belongs to
        type:
          type: string
          description: Transaction type (debit, credit)
          enum:
          - debit
          - credit
        amount:
          type: number
          format: double
          description: Transaction amount
        currency:
          type: string
          description: Transaction currency
        description:
          type: string
          description: Transaction description or memo
        referenceNumber:
          type: string
          description: Bank reference number
        valueDate:
          type: string
          format: date
          description: Value date of the transaction
        postDate:
          type: string
          format: date
          description: Post date of the transaction
        status:
          type: string
          description: Transaction status
    ErrorResponse:
      type: object
      description: API error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: string
          description: Additional error details
        requestId:
          type: string
          description: Request identifier for support
    TransactionListResponse:
      type: object
      description: Paginated list of transactions
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        totalCount:
          type: integer
        pageSize:
          type: integer
        offset:
          type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.bankofamerica.com/oauth/token
          scopes:
            accounts:read: Read account information and balances
            transactions:read: Read transaction history
            payments:write: Initiate and manage payments
            statements:read: Access account statements
